.App {
  text-align: center;
  margin: 100px 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.beer-image {
  width: 5%;
}

nav {
  background-color: black;
  width: 100vw;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navItem {
  margin: auto 20px;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  margin-top: auto;
  background-color: black;
  width: 100vw;
  height: 8vh;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footerItem {
  margin: auto 20px;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
